<div class="layout-grid--api grid grid--api" id="gridApi">
  <div class="api-article" id="api-3">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/2.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
  <div class="api-article" id="api-4">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/6.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
  <div class="api-article" id="api-5">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/2.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
  <div class="api-article" id="api-6">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/6.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
  <div class="api-article" id="api-7">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/2.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
  <div class="api-article" id="api-8">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/6.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
  <div class="api-extended" id="api-ext">
    <div class="api-extended__left">
      <a href="https://klasen-development.com" target="_blank">
        <h1 class="api-extended__header head--ext">
          Template Heading For Interview with a Software Engineer #1
        </h1>
      </a>
      <a href="https://klasen-development.com" target="_blank">
        <div class="api-extended__description text--description--ext">
          With the tech market flipped, software engineers are saying something
          different.
        </div>
      </a>
      <a href="https://klasen-development.com" target="_blank">
        <div class="api-extended__author text--author--ext">Author Name</div>
      </a>
    </div>
    <div class="api-extended__right">
      <div class="api-extended__image-container">
        <img src="/test_images/17.jpg" alt="" class="img--ext" />
        <div class="api-extended__image-line"></div>
        <div class="api-extended__org text--org--main">Org Name</div>
      </div>
    </div>
  </div>
</div>
