<div class="layout-grid--api grid grid--api" id="gridApi">
  <div class="api-article" id="api-3">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://assets.entrepreneur.com/content/3x2/2000/1675177535-GettyImages-1246662936.jpg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Entrepreneur</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        Silicon Valley Workers Are Using This App to Share Their Layoff
        Speculations and Woes in Secret
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Amanda Breen</div>
    </a>
  </div>
  <div class="api-article" id="api-4">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://i.insider.com/632dee7978dab80018ed58ee?width=1200&format=jpeg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Business Insider</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        A night with Wall Street's stars: Take a look at Insider's celebration
        of top investors, dealmakers, and traders
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Michelle Abrego</div>
    </a>
  </div>
  <div class="api-article" id="api-5">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://i.insider.com/63dc2a520a08ae0018a68f6a?width=1200&format=jpeg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">The Atlantic</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">Why Are Layoffs Contagious?</h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Annie Lowrey</div>
    </a>
  </div>
  <div class="api-article" id="api-6">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://substackcdn.com/image/fetch/w_1200,h_600,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F6052dbd4-a031-4f08-ad33-684d25fcc06b_1280x720.jpeg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Substack</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        Q1 of 2023: The most Tech Layoffs in history
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Bryan Lunduke</div>
    </a>
  </div>
  <div class="api-article" id="api-7">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/isxIQM8lyApo/v0/1200x799.jpg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Bloomberg</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        Big Tech Layoffs Are Hitting Diversity and Inclusion Jobs Hard
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Kelsey Butler</div>
    </a>
  </div>
  <div class="api-article" id="api-8">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://media.wired.com/photos/63f6c2ced35154c5a1727fc0/191:100/w_1280,c_limit/ideas_software_criticism_programming_culture.jpg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Wired</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">The Case for Software Criticism</h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Sheon Han</div>
    </a>
  </div>
  <div class="api-extended" id="api-ext">
    <div class="api-extended__left">
      <a href="https://klasen-development.com" target="_blank">
        <h1 class="api-extended__header head--ext">
          Biden's labor secretary says he's watching tech layoffs closely, but
          for now it's still a good time to find a job
        </h1>
      </a>
      <a href="https://klasen-development.com" target="_blank">
        <div class="api-extended__description text--description--ext">
          Labor Secretary Marty Walsh said he's not sure if the tech layoffs
          will be an issue for just a couple of months, or a longer-term
          situation.
        </div>
      </a>
      <a href="https://klasen-development.com" target="_blank">
        <div class="api-extended__author text--author--ext">Juliana Kaplan</div>
      </a>
    </div>
    <div class="api-extended__right">
      <div class="api-extended__image-container">
        <img
          src="https://i.insider.com/63b8792ffd2a270018082fe8?width=1200&format=jpeg"
          alt=""
          class="image--ext"
        />
        <div class="api-extended__image-line"></div>
        <div class="api-extended__org text--org--main">Business Insider</div>
      </div>
    </div>
  </div>
</div>
