<!-- ------------------------- -->
<!-------- API ARTICLE 3 -------->
<!-- ------------------------- -->
<div class="layout-grid--api grid grid--api" id="gridApi">
  <div class="api-article" id="api-3">
    <div class="api-article__image-container">
      <a
        href="https://www.entrepreneur.com/business-news/silicon-valley-workers-are-using-blind-to-speculate-about/443998"
        target="_blank"
      >
        <img
          src="https://assets.entrepreneur.com/content/3x2/2000/1675177535-GettyImages-1246662936.jpg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Entrepreneur</div>
      </a>
    </div>
    <a
      href="https://www.entrepreneur.com/business-news/silicon-valley-workers-are-using-blind-to-speculate-about/443998"
      target="_blank"
    >
      <h3 class="api-article__header">
        Silicon Valley Workers Are Using This App to Share Their Layoff
        Speculations and Woes in Secret
      </h3>
    </a>
    <a
      href="https://www.entrepreneur.com/business-news/silicon-valley-workers-are-using-blind-to-speculate-about/443998"
      target="_blank"
    >
      <div class="api-article__author text--author--small">Amanda Breen</div>
    </a>
  </div>
  <!-- ------------------------- -->
  <!-------- API ARTICLE 4 -------->
  <!-- ------------------------- -->
  <div class="api-article" id="api-4">
    <div class="api-article__image-container">
      <a
        href="https://www.washingtonpost.com/us-policy/2023/02/24/temporary-visa-h1b-tech-layoffs/"
        target="_blank"
      >
        <img
          src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/QROJYEAOJII6XNAERUPGOXWHAE.jpg&w=1440"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">The Washington Post</div>
      </a>
    </div>
    <a
      href="https://www.washingtonpost.com/us-policy/2023/02/24/temporary-visa-h1b-tech-layoffs/"
      target="_blank"
    >
      <h3 class="api-article__header">
        High-skilled visa holders at risk of deportation amid tech layoffs
      </h3>
    </a>
    <a
      href="https://www.washingtonpost.com/us-policy/2023/02/24/temporary-visa-h1b-tech-layoffs/"
      target="_blank"
    >
      <div class="api-article__author text--author--small">Erica Werner</div>
    </a>
  </div>
  <!-- ------------------------- -->
  <!-------- API ARTICLE 5 -------->
  <!-- ------------------------- -->
  <div class="api-article" id="api-5">
    <div class="api-article__image-container">
      <a
        href="https://www.theatlantic.com/ideas/archive/2023/02/why-are-layoffs-contagious/673021/?utm_source=feed"
        target="_blank"
      >
        <img
          src="https://i.insider.com/63dc2a520a08ae0018a68f6a?width=1200&format=jpeg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">The Atlantic</div>
      </a>
    </div>
    <a
      href="https://www.theatlantic.com/ideas/archive/2023/02/why-are-layoffs-contagious/673021/?utm_source=feed"
      target="_blank"
    >
      <h3 class="api-article__header">Why Are Layoffs Contagious?</h3>
    </a>
    <a
      href="https://www.theatlantic.com/ideas/archive/2023/02/why-are-layoffs-contagious/673021/?utm_source=feed"
      target="_blank"
    >
      <div class="api-article__author text--author--small">Annie Lowrey</div>
    </a>
  </div>
  <!-- ------------------------- -->
  <!-------- API ARTICLE 6 -------->
  <!-- ------------------------- -->
  <div class="api-article" id="api-6">
    <div class="api-article__image-container">
      <a
        href="https://lunduke.substack.com/p/q1-of-2023-the-most-tech-layoffs"
        target="_blank"
      >
        <img
          src="https://substackcdn.com/image/fetch/w_1200,h_600,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F6052dbd4-a031-4f08-ad33-684d25fcc06b_1280x720.jpeg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Substack</div>
      </a>
    </div>
    <a
      href="https://lunduke.substack.com/p/q1-of-2023-the-most-tech-layoffs"
      target="_blank"
    >
      <h3 class="api-article__header">
        Q1 of 2023: The most Tech Layoffs in history
      </h3>
    </a>
    <a
      href="https://lunduke.substack.com/p/q1-of-2023-the-most-tech-layoffs"
      target="_blank"
    >
      <div class="api-article__author text--author--small">Bryan Lunduke</div>
    </a>
  </div>
  <!-- ------------------------- -->
  <!-------- API ARTICLE 7 -------->
  <!-- ------------------------- -->
  <div class="api-article" id="api-7">
    <div class="api-article__image-container">
      <a
        href="https://www.wired.com/story/how-to-survive-big-tech-layoffs/"
        target="_blank"
      >
        <img
          src="https://media.wired.com/photos/63e556b21b87b32b35988bb8/191:100/w_1280,c_limit/biz-layoffs-646533724.jpg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Wired</div>
      </a>
    </div>
    <a
      href="https://www.wired.com/story/how-to-survive-big-tech-layoffs/"
      target="_blank"
    >
      <h3 class="api-article__header">
        How to Survive If You Were Part of the Tech Layoffs
      </h3>
    </a>
    <a
      href="https://www.wired.com/story/how-to-survive-big-tech-layoffs/"
      target="_blank"
    >
      <div class="api-article__author text--author--small">
        Virginia Valenzuela
      </div>
    </a>
  </div>
  <!-- ------------------------- -->
  <!-------- API ARTICLE 8 -------->
  <!-- ------------------------- -->
  <div class="api-article" id="api-8">
    <div class="api-article__image-container">
      <a href="https://www.wired.com/story/software-criticism/" target="_blank">
        <img
          src="https://media.wired.com/photos/63f6c2ced35154c5a1727fc0/191:100/w_1280,c_limit/ideas_software_criticism_programming_culture.jpg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Wired</div>
      </a>
    </div>
    <a href="https://www.wired.com/story/software-criticism/" target="_blank">
      <h3 class="api-article__header">The Case for Software Criticism</h3>
    </a>
    <a href="https://www.wired.com/story/software-criticism/" target="_blank">
      <div class="api-article__author text--author--small">Sheon Han</div>
    </a>
  </div>
  <!-- --------------------------- -->
  <!-------- API ARTICLE EXT -------->
  <!-- --------------------------- -->
  <div class="api-extended" id="api-ext">
    <div class="api-extended__left">
      <a
        href="https://www.entrepreneur.com/science-technology/why-software-talent-is-still-in-demand-despite-tech/442751"
        target="_blank"
      >
        <h1 class="api-extended__header head--ext">
          Why Software Talent Is Still in Demand Despite Tech Layoffs, Downturn
          and a Potential Recession
        </h1>
      </a>
      <a
        href="https://www.entrepreneur.com/science-technology/why-software-talent-is-still-in-demand-despite-tech/442751"
        target="_blank"
      >
        <div class="api-extended__description text--description--ext">
          Despite the layoffs and fears of an economic recession, top tech
          talent is still in demand.
        </div>
      </a>
      <a
        href="https://www.entrepreneur.com/science-technology/why-software-talent-is-still-in-demand-despite-tech/442751"
        target="_blank"
      >
        <div class="api-extended__author text--author--ext">Steve Taplin</div>
      </a>
    </div>
    <div class="api-extended__right">
      <div class="api-extended__image-container">
        <img
          src="https://assets.entrepreneur.com/content/3x2/2000/1674669197-GettyImages-1350230166.jpg"
          alt=""
          class="image--ext"
        />
        <div class="api-extended__image-line"></div>
        <div class="api-extended__org text--org--main">Entrepreneur</div>
      </div>
    </div>
  </div>
</div>
