<footer class="footer text--white">
  <div class="footer__inner">
    <div class="footer__left">
      <div class="footer__block">
        <h5 class="head--footer">About</h5>
        <a href="/sub/about.html">About Us</a>
        <a href="/sub/privacy-policy.html">Privacy Policy</a>
        <a href="/sub/terms-of-service.html">Terms & Conditions</a>
        <a href="/sub/code-of-ethics.html">Code of Ethics</a>
      </div>
      <div class="footer__block">
        <h5 class="head--footer">Contact</h5>
        <a href="/contact.html">Contact Us</a>
        <a href="/subscribe.html">Subscribe</a>
      </div>
      <div class="footer__block">
        <h5 class="head--footer">Follow</h5>
        <a href="#">
          <img class="icon--footer" src="/img/github.png" alt="" />
        </a>
        <a href="#">
          <img class="icon--footer" src="/img/linkedIn.png" alt="" />
        </a>
        <a href="#">
          <img class="icon--footer" src="/img/twitter-white.png" alt="" />
        </a>
      </div>
    </div>
    <div class="footer__right">
      <img src="/img/logo-white.png" alt="" class="logo logo--footer" />
      <p
        class="u--display--desktop footer__copyright footer__copyright--desktop text--footer"
      >
        Newsico.co Copyright © 2023 by Klasen Development LLC. All RIghts
        Reserved.
      </p>
      <p
        class="u--display--mobile footer__copyright footer__copyright--mobile text--footer"
      >
        © Klasen Development LLC
      </p>
    </div>
  </div>
</footer>
