<section class="subscribe">
  <div class="subscribe__message">
    <p class="text--subscribe">
      Enter your information to get notified with Newsico announcements. Don't
      worry, we already spend too much time unsubscribing from automated emails
      so I won't misuse your email.
    </p>
  </div>
  <form
    action="https://formsubmit.co/5e9d0a9cf5fe4f67d6ec7177a8ad828f"
    method="POST"
    class="form"
  >
    <div class="form__block">
      <label for="fullName" class="form__label">Name</label>
      <input
        type="text"
        class="form__input form__input--standard"
        name="fullName"
      />
    </div>
    <div class="form__block">
      <label for="email" class="form__label">Email</label>
      <input
        type="text"
        class="form__input form__input--standard"
        name="email"
      />
    </div>
    <div class="form__block form__submit">
      <button class="btn btn--transparent text--btn">Submit</button>
    </div>
  </form>
</section>
