<section class="subscribe">
  <div class="subscribe__message">
    <p class="text--subscribe">
      Have something you'd like to discuss? Send a message and we'll reach out.
    </p>
  </div>
  <form
    action="https://formsubmit.co/5e9d0a9cf5fe4f67d6ec7177a8ad828f"
    method="POST"
    class="form"
  >
    <div class="form__block">
      <label for="fullName" class="form__label">Name</label>
      <input
        type="text"
        class="form__input form__input--standard"
        name="fullName"
      />
    </div>
    <div class="form__block">
      <label for="email" class="form__label">Email</label>
      <input
        type="text"
        class="form__input form__input--standard"
        name="email"
      />
    </div>
    <div class="form__block">
      <label for="message" class="form__label">Message</label>
      <textarea
        type="text"
        class="form__input form__input--message"
        name="message"
      ></textarea>
    </div>
    <div class="form__block form__submit">
      <button class="btn btn--transparent text--btn">Submit</button>
    </div>
  </form>
</section>
