<div class="layout-grid--main grid grid--main" id="gridMain">
  <h2
    id="newsico-head"
    class="u--display--mobile u--padding--top-bot head--category"
  >
    Newsico Exclusives
  </h2>
  <!-- ----------------------------- -->
  <!-------- NEWSICO ARTICLE 1 -------->
  <!-- ----------------------------- -->
  <div class="small-article text--small-article" id="newsico-1">
    <h2
      class="u--display--desktop u--width--max-content u--position-absolute--top-center head--category"
    >
      Newsico Exclusives
    </h2>
    <div class="small-article__content-container">
      <a href="#" target="_blank">
        <h4 class="small-article__header head--small">The Empty Memos</h4>
        <div class="small-article__author text--author--small">
          Robert Klasen
        </div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="#" target="_blank">
        <img
          src="https://media.wired.com/photos/63d30f02b478ca5c4a95f675/191:100/w_1280,c_limit/biz-layoffs-1163246490.jpg"
          alt=""
          class="image--small"
        />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Newsico</div>
      </a>
    </div>
  </div>
  <!-- ----------------------------- -->
  <!-------- NEWSICO ARTICLE 2 -------->
  <!-- ----------------------------- -->
  <div class="small-article text--small-article" id="newsico-2">
    <div class="small-article__content-container">
      <a href="#" target="_blank">
        <h4 class="small-article__header head--small">
          Performance Based Feeelings: Sitting Down with an Engineer
        </h4>

        <div class="small-article__author text--author--small">
          Robert Klasen
        </div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="/articles/interview-1.html" target="_blank">
        <img
          src="https://i.insider.com/63d07b02def14100198e281f?width=1200&format=jpeg"
          alt=""
          class="image--small"
        />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Newsico</div>
      </a>
    </div>
  </div>
  <!-- ----------------------------- -->
  <!-------- NEWSICO ARTICLE 3 -------->
  <!-- ----------------------------- -->
  <div class="small-article text--small-article" id="newsico-3">
    <div class="small-article__content-container">
      <a href="#" target="_blank">
        <h4 class="small-article__header head--small">
          Interview with a Software Engineer #4
        </h4>
        <div class="small-article__author text--author--small">
          Robert Klasen
        </div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="/articles/interview-1.html" target="_blank">
        <img
          src="https://i.insider.com/63dc2a520a08ae0018a68f6a?width=1200&format=jpeg"
          alt=""
          class="image--small"
        />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Newsico</div>
      </a>
    </div>
  </div>
  <!-- -------------------------------- -->
  <!-------- NEWSICO MAIN ARTICLE -------->
  <!-- -------------------------------- -->
  <div class="main-article" id="newsico-main">
    <div class="main-article__image-container">
      <img src="/test_images/17.png" alt="" class="image--main" />
      <div class="main-article__image-line"></div>
      <div class="main-article__org text--org--main">Newsico</div>
    </div>
    <a href="#" target="_blank">
      <h1 class="main-article__header text--center head--main">
        The Fragility of Work: Sitting Down with the Senior.
      </h1>
    </a>
    <a href="/articles/interview-1.html" target="_blank">
      <div class="main-article__description text--center text--description">
        "Tuesday was a normal day in the office. On Wednesday morning, I woke up
        to a text from a nebulous number telling me to check my email."
      </div>
    </a>
    <a href="/articles/interview-1.html" target="_blank">
      <div class="main-article__author text--center text--author--main">
        Robert Klasen
      </div>
    </a>
  </div>
  <h2
    id="tech-head"
    class="u--display--mobile u--padding--top-bot head--category"
  >
    Top Tech Headlines
  </h2>
  <!-- ------------------------- -->
  <!-------- API ARTICLE 1 -------->
  <!-- ------------------------- -->
  <div class="api-article" id="api-1">
    <div class="api-article__image-container">
      <a
        href="https://www.wired.com/story/tech-layoffs-are-feeding-a-new-startup-surge/"
        target="_blank"
      >
        <img
          src="https://media.wired.com/photos/63eeab7de20576b439b7c80c/191:100/w_1280,c_limit/Biz-startups-1417914373-1.jpg"
          alt="Img"
          class="image--api"
        />
        <div class="api-article__org text--org--small">Wired</div>
      </a>
    </div>
    <a
      href="https://www.wired.com/story/tech-layoffs-are-feeding-a-new-startup-surge/"
      target="_blank"
    >
      <h3 class="api-article__header">
        Tech Layoffs in 2023 Are Feeding a New Startup Surge
      </h3>
    </a>
    <a
      href="https://www.wired.com/story/tech-layoffs-are-feeding-a-new-startup-surge/"
      target="_blank"
    >
      <div class="api-article__author text--author--small">Amanda Hoover</div>
    </a>
  </div>
  <!-- ------------------------- -->
  <!-------- API ARTICLE 2 -------->
  <!-- ------------------------- -->
  <div class="api-article" id="api-2">
    <div class="api-article__image-container">
      <a
        href="https://www.businessinsider.com/tech-job-openings-for-tech-workers-in-nontech-jobs-report-2023-2"
        target="_blank"
      >
        <img
          src="https://i.insider.com/63ddc1cc0a08ae0018a6c316?width=1200&format=jpeg"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">Business Insider</div>
      </a>
    </div>
    <a
      href="https://www.businessinsider.com/tech-job-openings-for-tech-workers-in-nontech-jobs-report-2023-2"
      target="_blank"
    >
      <h3 class="api-article__header">
        There are plenty of open jobs for tech workers — they're just not at
        tech companies
      </h3>
    </a>
    <a
      href="https://www.businessinsider.com/tech-job-openings-for-tech-workers-in-nontech-jobs-report-2023-2"
      target="_blank"
    >
      <div class="api-article__author text--author--small">
        Samantha Delouya
      </div>
    </a>
  </div>
</div>
