<div class="layout-grid--main grid grid--main" id="gridMain">
  <h2
    id="newsico-head"
    class="u--display--mobile u--padding--top-bot head--category"
  >
    Newsico Exclusives
  </h2>
  <div class="small-article text--small-article" id="newsico-1">
    <h2
      class="u--display--desktop u--width--max-content u--position-absolute--top-center head--category"
    >
      Newsico Exclusives
    </h2>
    <div class="small-article__content-container">
      <a href="https://klasen-development.com" target="_blank">
        <h4 class="small-article__header head--small">
          Are you a recent graduate from a coding bootcamp?
        </h4>
        <div class="small-article__author text--author--small">
          Robert Klasen
        </div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://media.wired.com/photos/63d30f02b478ca5c4a95f675/191:100/w_1280,c_limit/biz-layoffs-1163246490.jpg"
          alt=""
          class="image--small"
        />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Newsico</div>
      </a>
    </div>
  </div>
  <div class="small-article text--small-article" id="newsico-2">
    <div class="small-article__content-container">
      <a href="https://klasen-development.com" target="_blank">
        <h4 class="small-article__header head--small">
          Confessions from a tech insider.
        </h4>

        <div class="small-article__author text--author--small">
          Robert Klasen
        </div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://i.insider.com/63d07b02def14100198e281f?width=1200&format=jpeg"
          alt=""
          class="image--small"
        />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Newsico</div>
      </a>
    </div>
  </div>
  <div class="small-article text--small-article" id="newsico-3">
    <div class="small-article__content-container">
      <a href="https://klasen-development.com" target="_blank">
        <h4 class="small-article__header head--small">
          Interview with a Software Engineer #4
        </h4>
        <v class="small-article__author text--author--small">Robert Klasen</v>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://i.insider.com/63dc2a520a08ae0018a68f6a?width=1200&format=jpeg"
          alt=""
          class="image--small"
        />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Newsico</div>
      </a>
    </div>
  </div>
  <div class="main-article" id="newsico-main">
    <div class="main-article__image-container">
      <img src="/test_images/17.jpg" alt="" class="image--main" />
      <div class="main-article__image-line"></div>
      <v class="main-article__org text--org--main">Newsico</v>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h1 class="main-article__header text--center head--main">
        Sitting Down with Matt, a Former Senior Engineer at a mid-size financial
        services tech company.
      </h1>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="main-article__description text--center text--description">
        "Tuesday was a normal day in the office. Come Wednesday morning, I woke
        up to a text from an unknown number telling me to check my email."
      </div>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="main-article__author text--center text--author--main">
        Robert Klasen
      </div>
    </a>
  </div>
  <h2
    id="tech-head"
    class="u--display--mobile u--padding--top-bot head--category"
  >
    Top Tech Headlines
  </h2>
  <div class="api-article" id="api-1">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://media.wired.com/photos/63eeab7de20576b439b7c80c/191:100/w_1280,c_limit/Biz-startups-1417914373-1.jpg"
          alt="Img"
          class="image--api"
        />
        <div class="api-article__org text--org--small">Wired</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        Tech Layoffs in 2023 Are Feeding a New Startup Surge
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Amanda Hoover</div>
    </a>
  </div>
  <div class="api-article" id="api-2">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img
          src="https://s.yimg.com/os/creatr-uploaded-images/2023-02/c454d020-a723-11ed-ae6a-dddd7f7047d9"
          alt=""
          class="image--api"
        />
        <div class="api-article__org text--org--small">EngagedAt</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        Zoom is laying off around 1,300 workers
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Kris Holt</div>
    </a>
  </div>
</div>
