<div class="layout-grid--main grid grid--main" id="gridMain">
  <div class="small-article text--small-article" id="newsico-1">
    <h2
      class="u--width--max-content u--position-absolute--top-center head--category"
    >
      Newsico Exclusives
    </h2>
    <div class="small-article__content-container">
      <a href="https://klasen-development.com" target="_blank">
        <h4 class="small-article__header head--small">
          Interview with a Software Engineer #2
        </h4>
        <div class="small-article__author text--author--small">Author Name</div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/18.jpg" alt="" class="image--small" />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Org Name</div>
      </a>
    </div>
  </div>
  <div class="small-article text--small-article" id="newsico-2">
    <div class="small-article__content-container">
      <a href="https://klasen-development.com" target="_blank">
        <h4 class="small-article__header head--small">
          Interview with a Software Engineer #3
        </h4>
        <div class="small-article__author text--author--small">Author Name</div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/12.png" alt="" class="image--small" />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Org Name</div>
      </a>
    </div>
  </div>
  <div class="small-article text--small-article" id="newsico-3">
    <div class="small-article__content-container">
      <a href="https://klasen-development.com" target="_blank">
        <h4 class="small-article__header head--small">
          Interview with a Software Engineer #4
        </h4>
        <div class="small-article__author text--author--small">Author Name</div>
      </a>
    </div>
    <div class="small-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/14.png" alt="" class="image--small" />
        <div class="small-article__image-line"></div>
        <div class="small-article__org text--org--small">Org Name</div>
      </a>
    </div>
  </div>
  <div class="main-article" id="newsico-main">
    <div class="main-article__image-container">
      <img src="/test_images/17.jpg" alt="" class="image--main" />
      <div class="main-article__image-line"></div>
      <div class="main-article__org text--org--main">Org Name</div>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h1 class="main-article__header text--center head--main">
        Template Heading For Interview with a Software Engineer #1
      </h1>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="main-article__description text--center text--description">
        With the tech market flipped, software engineers are saying something
        different.
      </div>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="main-article__author text--center text--author--main">
        Author Name
      </div>
    </a>
  </div>
  <div class="api-article" id="api-1">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/2.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
  <div class="api-article" id="api-2">
    <div class="api-article__image-container">
      <a href="https://klasen-development.com" target="_blank">
        <img src="/test_images/6.png" alt="" class="image--alt" />
        <div class="api-article__org text--org--small">Org Name</div>
      </a>
    </div>
    <a href="https://klasen-development.com" target="_blank">
      <h3 class="api-article__header">
        John Fetterman and the Performance of Wellness
      </h3>
    </a>
    <a href="https://klasen-development.com" target="_blank">
      <div class="api-article__author text--author--small">Author Name</div>
    </a>
  </div>
</div>
