<div id="sideMenu" class="side-nav">
  <div class="head--side head--side--main">Newsico</div>
  <div class="side-nav__category-block">
    <div class="head--side head--side--category">Main Page</div>
  </div>
  <div class="side-nav__category-block">
    <div class="head--side head--side--category">Interviews</div>
    <div id="tech-interviews" class="head--side head--side--sub">Tech</div>
    <div id="tech-interviews-content" class="side-nav__category-bubble">
      <ul class="side-nav__list">
        <div class="head--side--list">Interviews</div>
        <li class="side-nav__list-item text--list">Interview #1</li>
        <li class="side-nav__list-item text--list">Interview #2</li>
        <li class="side-nav__list-item text--list">Interview #3</li>
        <li class="side-nav__list-item text--list">Interview #4</li>
      </ul>
    </div>
  </div>
  <div class="side-nav__category-block">
    <div class="head--side head--side--category">Resources</div>
    <div id="dev-resources" class="head--side head--side--sub">
      Developer Resources
    </div>
    <div id="dev-resources-content" class="side-nav__category-bubble">
      <ul class="side-nav__list">
        <div class="head--side--list">Dev Resources</div>
        <li class="side-nav__list-item text--list">List #1</li>
        <li class="side-nav__list-item text--list">List #2</li>
        <li class="side-nav__list-item text--list">List #3</li>
        <li class="side-nav__list-item text--list">List #4</li>
      </ul>
    </div>
  </div>
</div>
<div class="overlay pointer-events--none" id="menuOverlay"></div>
