<div id="sideMenu" class="side-nav pointer-events--none">
  <div id="menuClose" class="side-nav__close u--display--mobile">
    <img src="/img/x.png" alt="" />
  </div>
  <div class="head--side head--side--main">Newsico</div>
  <div class="side-nav__category-block">
    <a href="https://newsico.co">
      <div class="head--side head--side--category">Main Page</div>
    </a>
  </div>
  <div class="side-nav__category-block">
    <div class="head--side head--side--category">Interviews</div>
    <div id="tech-interviews" class="head--side head--side--sub">Tech</div>
    <div
      id="tech-interviews-content"
      class="side-nav__category-bubble pointer-events--none"
    >
      <ul class="side-nav__list">
        <div class="head--side--list">Interviews</div>
        <li class="side-nav__list-item text--list">#1 - Senior Engineer</li>
        <li class="side-nav__list-item text--list">#2 - Engineer</li>
        <li class="side-nav__list-item text--list">#3 - Bootcamp Graduate</li>
        <li class="side-nav__list-item text--list">#4 - Engineer</li>
      </ul>
    </div>
  </div>
  <div class="side-nav__category-block">
    <div class="head--side head--side--category">Articles</div>
    <div id="dev-resources" class="head--side head--side--sub">
      Robert Klasen
    </div>
    <div
      id="dev-resources-content"
      class="side-nav__category-bubble pointer-events--none"
    >
      <ul class="side-nav__list">
        <div class="head--side--list">Articles</div>
        <li class="side-nav__list-item text--list">The Empty Memos</li>
        <li class="side-nav__list-item text--list">Article #2</li>
        <li class="side-nav__list-item text--list">Article #3</li>
        <li class="side-nav__list-item text--list">Article #4</li>
      </ul>
    </div>
  </div>
  <div class="side-nav__category-block u--display--desktop">
    <a href="https://layoffs.fyi">
      <div class="head--side head--side--category">layoffs.fyi</div>
    </a>
  </div>
</div>
<div class="overlay pointer-events--none" id="menuOverlay"></div>
