<nav class="top-nav">
  <div class="top-nav__logo">
    <img src="/img/logo-black.png" alt="" class="logo logo--main" />
  </div>
  <div class="top-nav__inner">
    <div class="top-nav__left">
      <div class="top-nav__menu">
        <img src="/img/hamburger.png" alt="" class="icon--menu" />
      </div>
      <div class="top-nav__search">
        <img src="/img/search-dark.png" alt="" class="icon--menu" />
      </div>
      <div class="top-nav__headline">Top Tech Headlines</div>
    </div>
    <div class="top-nav__right">
      <div class="top-nav__btn text--white">
        <a href="#" class="btn btn--green">Subscribe</a>
      </div>
    </div>
  </div>
</nav>
