<nav class="top-nav">
  <div class="top-nav__logo">
    <a href="https://newsico.co">
      <img src="/img/logo-black.png" alt="" class="logo logo--main" />
    </a>
  </div>
  <div class="top-nav__inner">
    <div class="top-nav__left">
      <div id="menu" class="top-nav__menu">
        <img src="/img/hamburger.png" alt="" class="icon--menu" />
      </div>
      <div class="u--display--desktop top-nav__search">
        <img src="/img/search-dark.png" alt="" class="icon--menu" />
      </div>
      <div class="u--display--desktop top-nav__headline">Behind the Screen</div>
    </div>
    <div class="top-nav__right">
      <div class="top-nav__btn text--white">
        <a href="https://newsico.co/subscribe.html" class="btn btn--green">
          Subscribe
        </a>
      </div>
    </div>
  </div>
</nav>
