<!------- STORY CONTENT ------->
<main class="content">
  <div class="content__article-data">
    <div class="content__category text--category">Behind the Screen</div>
    <h1 class="content__header head--content">
      Sitting Down With a Former Senior Engineer at a Mid-size Financial
      Services Tech Company.
    </h1>
    <div class="content__description text--description--content">
      "Tuesday was a normal day in the office. On Wednesday morning, I woke up
      to a text from an unknown number telling me to check my email."
    </div>
    <div class="content__author text--author--content">By Robert Klasen</div>
  </div>
  <figure class="content__article-image">
    <img src="/test_images/17.jpg" alt="" class="image--content" />
    <div class="content__image-text text--image--article">Unsplash</div>
  </figure>
  <div class="content__article-data">
    <div class="content__article-date text--article--date">
      March 2nd, 2023, 6 AM CST
    </div>
    <div class="content__category-description text--category--description">
      This is Behind the Screen, an interview series by Robert Klasen about
      workplace layoffs in the tech industry.
    </div>
  </div>
  <section class="content__article-text">
    <p class="text--article">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
      convallis purus a sollicitudin aliquam. In rhoncus fringilla vestibulum.
      Pellentesque posuere vel ante at luctus. Fusce bibendum luctus metus, vel
      dapibus arcu aliquam vel.
    </p>
    <div class="content__separator-block"></div>
    <p class="text--article">
      Etiam lobortis ultrices sapien in commodo. Maecenas efficitur, mauris eu
      facilisis iaculis, turpis elit rhoncus ipsum, vel consequat quam nulla
      quis metus. Praesent ut nibh mi. Nulla sagittis libero a lectus pharetra,
      in ornare orci ultricies.
    </p>
    <p class="text--article">
      Vivamus non ex malesuada, bibendum odio non, cursus justo. Aliquam mollis
      nisl vitae ligula malesuada eleifend. Suspendisse sit amet nibh vel odio
      lobortis euismod. Sed feugiat eros in orci blandit, sed finibus justo
      malesuada.
    </p>
    <p class="text--article">
      Nunc euismod odio id vestibulum pulvinar. Aenean at purus porttitor,
      auctor sapien non, tempus risus. Nullam nec erat vel tortor semper
      sagittis sed at ex. Vestibulum euismod accumsan metus, vitae hendrerit
      velit consectetur sit amet.
    </p>
    <div class="content__separator-block"></div>
    <p class="text--article">
      Morbi sed libero maximus, varius nisi in, tristique magna. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Nam blandit lorem elit, vel malesuada turpis elementum vitae.
      Integer sit amet quam eu dolor ullamcorper luctus.j
    </p>
    <p class="text--article">
      Nunc euismod odio id vestibulum pulvinar. Aenean at purus porttitor,
      auctor sapien non, tempus risus. Nullam nec erat vel tortor semper
      sagittis sed at ex. Vestibulum euismod accumsan metus, vitae hendrerit
      velit consectetur sit amet.
    </p>
    <p class="text--article">
      Etiam lobortis ultrices sapien in commodo. Maecenas efficitur, mauris eu
      facilisis iaculis, turpis elit rhoncus ipsum, vel consequat quam nulla
      quis metus. Praesent ut nibh mi. Nulla sagittis libero a lectus pharetra,
      in ornare orci ultricies.
    </p>
    <p class="text--article u--border-bottom--black">
      Vivamus non ex malesuada, bibendum odio non, cursus justo. Aliquam mollis
      nisl vitae ligula malesuada eleifend. Suspendisse sit amet nibh vel odio
      lobortis euismod. Sed feugiat eros in orci blandit, sed finibus justo
      malesuada.
    </p>
  </section>
  <div class="content__article-data">
    <div class="content__author-description">
      Robert Klasen is a developer and staff writer at Newsico. He conducts the
      Behind the Screen series.
    </div>
    <div class="content__author-socials">
      <img src="/img/twitter.png" alt="" class="image--socials" />
      <span class="text--socials">Twitter</span>
    </div>
  </div>
</main>
