<!------- STORY CONTENT ------->
<main class="content">
  <div class="content__article-data">
    <div class="content__category text--category">Behind the Screen</div>
    <h1 class="content__header head--content">
      The Fragility of Work: Sitting Down with the Senior.
    </h1>
    <div class="content__description text--description--content">
      "Tuesday was a normal day in the office. On Wednesday morning, I woke up
      to a text from a nebulous number telling me to check my email."
    </div>
    <div class="content__author text--author--content">By Robert Klasen</div>
  </div>
  <figure class="content__article-image">
    <img src="/test_images/17.png" alt="" class="image--content" />
    <div class="content__image-text text--image--article"></div>
  </figure>
  <div class="content__article-data">
    <div class="content__article-date text--article--date">
      March 2nd, 2023, 6 AM CST
    </div>
    <div class="content__category-description text--category--description">
      This is Behind the Screen, an interview series by Robert Klasen about
      workplace layoffs in the tech industry.
    </div>
  </div>
  <section class="content__article-text">
    <p class="text--article">
      If you survey major news outlets about tech layoffs one thing you’ll find
      is a distinct lack of individual perspective. It isn’t devoid of granular
      experiences, however, on the whole, popular media is focused on providing
      macro observations on current events. The emerging list of tech layoffs is
      no different. Articles are populated with statistical data on the latest
      company to cut a percentage of their workforce. Usually, these articles
      are punctuated with a timely quote from a former employee of the company,
      but these quotes are passed over as quickly as their written. Newsico sets
      out to show more directly the responses of those affected by layoffs.
    </p>
    <div class="content__separator-block u--display--desktop"></div>
    <p class="text--article">
      Today, I’m sitting down with a senior engineer who was affected by a
      layoff in early February. They worked at a mid-size financial services
      company that provides a solution to small and medium business who don’t
      want to or can’t invest in full-scale HR departments.
    </p>
    <p class="text--article">
      I asked the senior to walk me through a typical day as an engineer. They
      said it often started with a morning stand-up, a short meeting where
      different engineers on the project touched base about what they’re working
      on. Here one would ask and agree to code reviews, talk about what may be
      holding up or slowing down their work, and discuss anything relevant to
      the progression of the project. After this, they would shift into the bulk
      of their day which involved writing code for the given project they’re
      working on as well as attending any additional meetings to discuss feature
      and project updates.
    </p>
    <div class="content__separator-block u--display--desktop"></div>
    <p class="text--article">
      While there is an element of mundaneness to this kind of description
      (reading about someone’s day-to-day work may feel remarkably like your
      day-to-day work as well). The point of including this is to paint a
      picture of what the self is doing day after day, week after week, and even
      year after year. They’re talking to the same people, working on the same
      sets of interrelated problems, and pushing forward on the same path. How
      does a layoff factor into this?
    </p>
    <p class="content__quote text--article text--quote">
      Senior: I was in the office on Tuesday and it was a normal day. I had my
      normal meetings, and I worked on the projects I just mentioned. For lunch,
      I went on a walk with coworkers just talking about different stuff. In
      fact, in one of my meetings I was talking about the feature and telling
      them ‘Hey, we’re doing these changes. Be on the lookout for it.’ Then
      Wednesday morning, I wake up at the usual time. I grab my phone and I have
      a text message from a nebulous number to check my email. I check my email
      and there is a document sent to me which is simply a company severance
      agreement. This is how I find out I’ve been laid off. I did some
      verification on it. I opened up my work laptop and it had been remotely
      deactivated. So I’m like, alright, I’ve been laid off.
    </p>
    <p class="text--article">
      It's a jarring story on it’s own, to wake up one day, without provocation
      or expectation, and find out that those days over days and weeks over
      weeks are over now, just done. The part that stuck with me is the usage of
      nebulous. It’s a single word, but it captures the scope of the event.
      Routines are driven and refined every day, and something seemingly out of
      an unseeable, unreachable place tells you that it’s over. There isn’t a
      meeting or some context filled discussion explaining the rationale behind
      the decision. There’s no human interaction at all. Perhaps this is a
      melo-dramatic way to describe it, but from talking to different engineers,
      the roller coaster of emotion that follows from a text like that isn’t
      dramatic, it’s a true shock to one’s life.
    </p>
    <p class="text--article">
      Layoffs occur for many reasons. Often, the individual has no control over
      the decision to release an entire department or project. But despite the
      negative assumptions that come with the term “layoff”, a common thread
      among my discussions with engineers is their optimism for the future. When
      I asked the senior about their future plans, they gave an insightful
      thought that touched on principles extending beyond those software
      engineering.
    </p>
    <p class="content__quote text--article text--quote">
      Senior: The important part is not to have job security but career
      security. This is the way the tech industry works. There’s layoffs,
      companies go up and down, stop existing, get bought and sold, but career
      security is going to come from your skills, your work ethic, and your
      mindset. If you have career security, you can work for a very long time.
      It’s just going to be for a bunch of different companies. There’s not this
      thing in tech where you get into a company and work there for 25 years
      then retire. That doesn’t happen.
    </p>
    <p class="text--article u--border-bottom--black">
      I talk further with the Senior about a variety of topics unrelated to
      layoffs: Coding Bootcamps, Growing as Juniors, developing workflow,
      strengthening developer intuition. This extended discussion can be found
      <span class="text--link"><a href="#">here.</a></span>
    </p>
  </section>
  <div class="content__article-data">
    <div class="content__author-description">
      Robert Klasen is a developer and staff writer at Newsico. He conducts the
      Behind the Screen series.
    </div>
    <div class="content__author-socials">
      <img src="/img/twitter-black.png" alt="" class="image--socials" />
      <span class="text--socials">Twitter</span>
    </div>
  </div>
</main>
