<h1 class="title">Newsico Code of Ethics</h1>
<div class="sub sub--paragraph">
  <p class="paragraph">
    1. Prioritize honesty in reporting and ensure that accurate information is
    delivered to the public.
  </p>
  <p class="paragraph">
    2. Seek the truth and report it with accuracy and fairness.
  </p>
  <p class="paragraph">
    3. Show respect for all individuals and groups, regardless of their
    backgrounds or beliefs, and do not discriminate based on any characteristic.
  </p>
  <p class="paragraph">
    4. Provide balanced coverage and representation of all sides of an issue,
    striving for fairness in reporting.
  </p>
  <p class="paragraph">
    5. Seek out and reflect the perspectives and experiences of a wide range of
    communities, promoting diversity in newsrooms and coverage.
  </p>
  <p class="paragraph">
    6. Maintain independence and avoid conflicts of interest, striving to be
    unbiased in reporting.
  </p>
  <p class="paragraph">
    7. Acknowledge and correct mistakes, ensuring that accurate information is
    provided to the public.
  </p>
  <p class="paragraph">
    8. Be transparent in reporting, providing clear and accurate information
    about sources, methods, and motives.
  </p>
  <p class="paragraph">
    9. Avoid speculation and stick to the facts, upholding accuracy and
    truthfulness in reporting.
  </p>
  <p class="paragraph">
    10. Support and defend freedom of the press, upholding the right to report
    the news without fear of censorship or repression.
  </p>
</div>
