<h1 class="title">Newsico Terms of Service</h1>
<p class="paragraph u--width--sub">
  Welcome to Newsico Media Network's website, which shall be referred to as
  "This site." By accessing or using This site, you agree to comply with and be
  bound by the following terms and conditions. These terms and conditions,
  together with our privacy policy, govern Newsico's relationship with you in
  relation to This site. All trademarks reproduced on This site that are not the
  property of, or licensed to Newsico are acknowledged on This site.
  Unauthorised use of This site may give rise to a claim for damages and/or be a
  criminal offence. From time to time, This site may also include links to other
  websites. These links are provided for your convenience to provide further
  information. They do not signify that Newsico endorses the website(s). We have
  no responsibility for the content of the linked website(s). Your use of This
  site and any dispute arising out of such use of This site is subject to the
  laws of the United States.
</p>
<div class="sub">
  <div class="sub__block">
    <h2 class="section">1. User Obligation</h2>
    <p class="paragraph">
      By using This site, you agree to comply with and be bound by the terms and
      conditions set forth below. Newsico reserves the right to modify these
      terms and conditions at any time without notice. If you do not agree with
      any of these terms and conditions, please do not use This site.
    </p>
  </div>
  <div class="sub__block">
    <h2 class="section">2. Terms of Use</h2>
    <p class="paragraph">
      Use of This site is intended solely for lawful purposes, and you agree to
      use the site in a manner that does not infringe on the rights of others.
      By accessing This site, you represent and warrant that you are 18 years of
      age or older, or have obtained appropriate legal guardian permission.
      Newsico reserves the right to assign these rights to any party at
      Newsico's sole discretion.
    </p>
  </div>

  <div class="sub__block">
    <h2 class="section">3. Access to the Site:</h2>
    <p class="paragraph">
      This site is provided for personal, non-commercial use free of charge.
      Newsico reserves the right to restrict access to This site at any time
      without notice. By using This site, you agree to these terms and
      conditions and are responsible for ensuring that any person who uses This
      site through your internet connection complies with these terms and
      conditions.
    </p>
  </div>
  <div class="sub__block">
    <h2 class="section">4. Copyright and Other Intellectual Property</h2>
    <p class="paragraph">
      The names, images, and logos identifying Newsico, its associated
      companies, or third parties and their products and services are
      exclusively owned by them. You may not copy, reproduce, distribute,
      transmit, display, publish, or create derivative works of any part of the
      site without prior written permission. All copyright, trademarks, and
      other intellectual property rights in this site and its content shall
      remain the property of Newsico or its licensors. By accessing the site,
      you agree to use it for personal, non-commercial use only and not to
      encourage or assist any third party in infringing intellectual property
      rights. Text or data mining or web scraping, including any automated
      technology or process to access, copy, or record any portion of the site
      or its content, is not allowed. Newsico reserves the right to take legal
      action against any person who infringes their intellectual property
      rights.
    </p>
  </div>
  <div class="sub__block">
    <h2 class="section">5. Third Party Sites and Links</h2>
    <p class="paragraph">
      Newsico is not responsible for the availability or content of any
      third-party websites accessed through this site. By accessing any linked
      site, you assume all risk and are responsible for protecting against
      viruses or other destructive elements. Newsico does not endorse and is not
      responsible for any content, advertising, products, services, or
      information available from third-party websites or materials. Any terms,
      conditions, warranties, or representations associated with such dealings
      are solely between you and the relevant provider of the service. Creating
      links to this site must be direct to any complete content page and not
      "framed" or presented within other websites. Newsico disclaims all
      liability for any legal or other consequences of creating or using links
      to this site. Links to this site from third-party websites do not imply
      that Newsico approves or is affiliated with those websites or services.
    </p>
  </div>
</div>
