/**========================================================================
 **                          JAVASCRIPT CLASSES 
 *========================================================================**/

//  Classes for Modals
.pointer-events--none {
  pointer-events: none;
}
.opacity--1 {
  opacity: 1;
}
.overflow--hidden {
  overflow: hidden;
}
