/**=======================================================================================================================
 **                                                   UTILITIES 
 *=======================================================================================================================**/

// Used for category header on main grid
.u--position-absolute--top-center {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

// Used for category header on main grid
.u--width--max-content {
  width: max-content;
}

.u--padding--top-bot {
  padding: 2rem 0;
}

// Not Used
.u--display--mobile {
  display: none;
  @include respond(break-600) {
    display: block;
  }
}
.u--display--desktop {
  display: block;
  @include respond(break-600) {
    display: none;
  }
}
.u--width-max--mobile {
  @include respond(break-600) {
    width: 100%;
  }
}
