/**=======================================================================================================================
 **                                                   API ARTICLE 
 *=======================================================================================================================**/

.api-article {
  padding: 2rem;

  &__image-container {
    margin-bottom: 1rem;
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__author {
  }
}

.api-extended {
  display: flex;

  @include respond(break-600) {
    flex-direction: column-reverse;
    align-items: center;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    @include respond(break-600) {
      width: 90%;
      align-items: center;
    }

    & > * {
      margin: 1rem 0;
    }
  }
  &__right {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 0 1rem;
    @include respond(break-600) {
      width: 100%;
      margin-right: 0;
    }
  }
}
