/**=======================================================================================================================
 **                                                   API ARTICLE 
 *=======================================================================================================================**/

.api-article {
  padding: 2rem;

  &__image-container {
    margin-bottom: 1rem;
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__author {
  }
}

.api-extended {
  display: flex;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    & > * {
      margin: 1rem 0;
    }
  }
  &__right {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
