/**========================================================================
 **                          DISPLAY 
 *========================================================================**/

.display-base {
  background-color: $color-white;
  @include respond(break-600) {
    width: auto;
  }
}
.display-main {
  width: 80rem;
  background-color: $color-white;
  @include respond(break-600) {
    width: auto;
  }
}
