/**=======================================================================================================================
 **                                                   BASE LAYOUT 
 *=======================================================================================================================**/

.layout-base {
  position: relative;
  display: flex;
  flex-direction: column;
}

.layout-main {
  margin: 0 auto;
}
