/**========================================================================
 **                          DISPLAY 
 *========================================================================**/

.body {
  background-color: $color-secondary;
}

.display-main {
  width: 80rem;
  @include respond(break-600) {
    width: auto;
  }
}
