/**========================================================================
 **                          FOOTER 
 *========================================================================**/

.footer {
  position: relative;
  height: 15rem;
  background-color: $color-black;
  @include respond(break-600) {
    height: auto;
  }
  &__inner {
    height: 15rem;
    border-left: 1px solid $color-white;
    border-right: 1px solid $color-white;
    width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(break-600) {
      flex-direction: column;
      height: auto;
      width: auto;
      border-left: none;
      border-right: none;
      position: static;
      transform: none;
    }
  }
  &__left {
    width: 50%;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid $color-white;
    @include respond(break-600) {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid $color-white;
      padding-bottom: 1rem;
    }
  }
  &__block {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    & > * {
      margin-top: 0.5rem;
    }
    & > a > .icon--footer {
      margin: 0 auto;
    }
    & > a:hover {
      text-decoration: underline;
    }
  }
  &__right {
    width: 50%;
    display: flex;
    justify-content: center;
    @include respond(break-600) {
      width: 100%;
      padding: 3rem;
    }
  }
  &__copyright {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
