.side-nav {
  opacity: 0;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 15rem;
  height: 100vh;
  background-color: $color-white;
  border-right: 1px solid $color-black-opaque;
  box-shadow: 5px 5px 10px $color-black-opaque;
  @include respond(break-600) {
    width: 100%;
  }

  & > .head--side--main {
    padding: 1rem 0;
  }

  &__close {
    width: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__category-bubble {
    opacity: 0;
    border-radius: 10px;
    background-color: $color-white;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(95%);
    border: 1px solid $color-black-opaque;
    box-shadow: 5px 5px 10px $color-black-opaque;
    @include respond(break-600) {
      height: max-content;
    }
  }
  &__list {
    padding: 1rem;
    list-style: none;
  }
  &__category-block {
    position: relative;
    padding: 1rem 1rem 0.5rem;
    border-bottom: 1px solid $color-black-opaque;

    & > .head--side--sub {
      position: relative;
      margin-top: 0.5rem;
      margin-left: 1rem;
      &::after {
        content: '>';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

#tech-interviews-content {
  @include respond(break-600) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 115%);
  }
}
#dev-resources-content {
  @include respond(break-600) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 60%);
  }
}
