/**========================================================================
 **                          BTN 
 *========================================================================**/

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid $color-black;
  &--white {
    background-color: $color-white;
  }
  &--transparent {
    background-color: transparent;
  }
}
