/**=======================================================================================================================
 **                                                   FORM 
 *=======================================================================================================================**/

.form {
  width: 25rem;

  @include respond(break-600) {
    width: 75%;
  }
  & > .form__block:not(:first-child) {
    margin-top: 1rem;
  }
  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__label {
  }
  &__submit {
    margin: 0 auto;
    width: 50%;
  }
  &__input {
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 5px;
    &--standard {
      height: 2.5rem;
    }
    &--message {
      height: 6rem;
    }
  }
}
