.overlay {
  //! layout
  position: absolute;
  top: 0;
  left: 0;
  //! layout
  width: 100%;
  height: 100%;
  background-color: $color-modal-overlay;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}

.modal {
  overflow: scroll;
  //! layout
  position: absolute;
  margin: 1rem 0;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  //! layout
  background-color: $color-modal-overlay;
  opacity: 0;
  width: 70rem;
  height: 40rem;
  transition: all 0.3s;
  @include respond(break-600) {
    //! layout
    display: none;
    //! layout
  }
  &__close {
    cursor: pointer;
    //! layout
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    //! layout
    opacity: 0;
    width: 4rem;
    height: 4rem;
    padding: 10px;
    border: 1px solid $color-white;
    border-radius: 50%;
    transition: all 0.3s;
    @include respond(break-600) {
      //! layout
      display: none;
      //! layout
    }
  }
}

.resume {
  overflow: scroll;
  height: 80rem;
}
