/**=======================================================================================================================
 **                                                   IMG 
 *=======================================================================================================================**/

.icon--menu {
  width: 2rem;
}
.icon--footer {
  width: 2rem;
}

// .img--ext {
//   width: 10rem;
// }

.logo--main {
  width: 12rem;
}
.logo--footer {
  width: 15rem;
}
