/**======================================================================================================================= **                                                   IMG *=======================================================================================================================**/

.icon--menu {
  width: 2rem;
}
.icon--footer {
  width: 2rem;
}

.image {
  &--small {
    height: 5rem;
    width: 10rem;
    object-fit: cover;
    @include respond(break-600) {
      height: 15rem;
      width: 100%;
    }
  }
  &--main {
    height: 20rem;
    object-fit: cover;
    width: 100%;
  }
  &--api {
    height: 10rem;
    object-fit: cover;
    width: 100%;
    @include respond(break-600) {
      height: 15rem;
    }
  }
  &--ext {
    height: 15rem;
    object-fit: cover;
    width: 100%;
  }
}

.logo--main {
  width: 12rem;
}
.logo--footer {
  width: 15rem;
}
