/**=======================================================================================================================
 **                                                   TYPOGRAPHY 
 *=======================================================================================================================**/

.main-font {
  font-family: 'Roboto', Arial, sans-serif;
  color: $color-black;
  line-height: 1.5;
}

.head {
  &--main {
    font-size: 2.2rem;
    @include respond(break-1550) {
      font-size: 1.8rem;
    }
  }
  &--ext {
    font-size: 1.6rem;
    @include respond(break-1550) {
      font-size: 1.2rem;
    }
  }
  &--small {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  &--category {
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: underline;
    text-align: center;
  }
  &--footer {
    font-size: 1.2rem;
    text-decoration: underline;
  }
}

.head--side {
  &--main {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
  }
  &--category {
    font-weight: bold;
  }
  &--list {
    color: $color-grey;
  }
}

.text--small-article {
  text-decoration: none;
  color: $color-black;
}

.text--description {
  font-size: 1.4rem;
  @include respond(break-1550) {
    font-size: 1.1rem;
  }
  &--ext {
    font-size: 1.2rem;
    @include respond(break-1550) {
      font-size: 1rem;
    }
  }
}
.text--author {
  &--main {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    @include respond(break-1550) {
      font-size: 0.8rem;
    }
  }
  &--small {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  &--ext {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    @include respond(break-1550) {
      font-size: 0.8rem;
    }
  }
}
.text--list {
  font-size: 0.9rem;
}
.text--org {
  &--main {
  }
  &--small {
    font-size: 0.8rem;
  }
}
.text--white {
  color: $color-white;
}

.text--btn {
  color: $color-black;
}
.text--center {
  text-align: center;
}

.text--subscribe {
  font-size: 1.4rem;
}
